.catalog-element .heading {
    margin-bottom: clamp(30px, 0.9554140127vw + 26.6560509554px, 45px)
}

.catalog-element .heading .h2 {
    margin-bottom: 7px
}

.catalog-element .heading .article {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #232C42;
    color: var(--clr-base);
    cursor: pointer
}

.catalog-element .heading .article .icon {
    color: #8c8d90;
    transition: .3s;
    display: flex
}

.catalog-element .heading .article:hover .icon {
    color: #FFE159;
    color: var(--clr-accent-hover)
}

.catalog-element.section-white .catalog-element__col_item {
    background: #f5f6f7;
    background: var(--clr-white-100)
}

.catalog-element.section-white .catalog-element__files_item {
    background: #ffffff;
    background: var(--clr-white)
}

.catalog-element.section-white .catalog-element__volume_item_img {
    background: #ffffff;
    background: var(--clr-white)
}

.catalog-element__row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: minmax(0, 1280px) 470px;
    grid-gap: 32px;
    gap: 32px
}

.catalog-element__card {
    display: grid;
    align-items: flex-start;
    grid-template-columns: minmax(0, 600px) minmax(0, 630px);
    grid-gap: 32px;
    gap: 32px
}

.catalog-element__col {
    display: flex;
    flex-direction: column
}

.catalog-element__col.sticky {
    position: sticky;
    top: 2rem
}

.catalog-element__col_item {
    padding: 32px;
    border-radius: 24px;
    border-radius: var(--radius-item);
    background: #21242d;
    background: var(--clr-black-900)
}

.catalog-element__picture {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 32px;
    gap: 32px;
    position: relative
}

.catalog-element__picture_sticks {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 14px;
    top: 0;
    left: 30px;
    transform: rotate(270deg) translate(-100%, 0%);
    transform-origin: left top;
    pointer-events: none
}

.catalog-element__picture_sticks .stick {
    color: #ffffff;
    color: var(--clr-white);
    clip-path: polygon(100% 0%, 100% 100%, 18px 100%, 0% 0%);
    font-size: 14px;
    line-height: 1.6;
    padding: 9px 16px 4px 32px
}

.catalog-element__picture_sticks .stick.action {
    background: linear-gradient(354.14deg, #ef1c00 13.28%, #d0250e 97.94%);
}
.catalog-element__picture_sticks .stick.popular {
    background: #FF8800;
}
.catalog-element__picture_sticks .stick.new {
    background: #00BD1C;

}

.catalog-element__picture_slider {
    height: 407px;
    width: 100%
}

.catalog-element__picture_slider img {
    width: auto;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    aspect-ratio: 300/456;
    margin: 0 auto;
    display: block
}

.catalog-element__picture_thumbs {
    height: 62px;
    width: auto;
    margin: 0 auto;
    overflow: visible
}

.catalog-element__picture_thumbs_slide {
    aspect-ratio: 1;
    width: auto;
    border-radius: 18px;
    background: #ffffff;
    background: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
    transition: .5s;
    border: 1px solid #ffffff;
    border: 1px solid var(--clr-white)
}

.catalog-element__picture_thumbs_slide:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(14, 30, 91, .0705882353)
}

.catalog-element__picture_thumbs_slide.swiper-slide-thumb-active {
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(14, 30, 91, .0705882353)
}

.catalog-element__picture_thumbs img {
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.catalog-element__volume {
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.catalog-element__volume_title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem
}

.catalog-element__volume_list {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap
}

.catalog-element__volume_item {
    display: flex;
    width: auto;
    align-items: center;
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #d7d8d9;
    border: 1px solid var(--clr-white-400);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    cursor: pointer;
    transition: .5s;
    color: var(--clr-base);
}
.catalog-element__volume_item.swiper-slide {
	width: auto;
}
.catalog-element__volume_item:hover {
    border-color: #FFE159;
    border-color: var(--clr-accent-hover)
}

.catalog-element__volume_item.active {
    background: #f5f6f7;
    background: var(--clr-white-100);
    border-color: #f5f6f7;
    border-color: var(--clr-white-100)
}

.catalog-element__volume_item_img {
    aspect-ratio: 1/1;
    width: 128px;
    border-radius: 16px;
    background: #252833;
    background: var(--clr-black-800);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem
}

.catalog-element__volume_control {
    display: flex;
    gap: 24px;
    align-items: center
}

.catalog-element__volume .swiper-scrollbar {
    top: auto;
    bottom: 0
}

.catalog-element__desc {
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 0.5095541401vw + 14.2165605096px, 24px);
    padding: 0;
    background: #ffffff !important;
    background: var(--clr-white) !important
}

.catalog-element__desc_heading {
    max-width: 460px;
    margin-bottom: clamp(16px, 0.5095541401vw + 14.2165605096px, 24px)
}

.catalog-element__desc_heading .article {
    margin-top: 1rem;
    font-size: clamp(16px, 0.2547770701vw + 15.1082802548px, 20px);
    color: #8e9096;
    line-height: 1.2
}

.catalog-element__desc_characters {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.catalog-element__desc_characters_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: clamp(10px, 0.5095541401vw + 6.216561px, 16px);
    border-bottom: 1px solid #d7d8d9;
    border-bottom: 1px solid var(--clr-white-400);
    font-size: clamp(14px, 0.127388535vw + 13.5541401274px, 16px);
    line-height: 1.3;
    color: #464F64;
    color: var(--clr-blue)
}
.catalog-element__desc_characters_item:not(:last-child) {
	margin-bottom: clamp(10px, 0.5095541401vw + 6.216561px, 16px);
}

.catalog-element__desc_characters_item .value {
    max-width: 48%;
    text-align: right
}

.catalog-element__desc_characters_item .value a {
    color: #0af;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-underline-offset: 6px;
    line-height: 1.8;
    transition: .3s
}

.catalog-element__desc_characters_item .value a:hover {
    text-decoration-color: #0af
}

.catalog-element__desc_docs_list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.catalog-element__desc_docs_item {
    display: flex;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #d7d8d9;
    border: 1px solid var(--clr-white-400);
    transition: .5s;
    color: #232C42;
    color: var(--clr-base);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3
}

.catalog-element__desc_docs_item:hover {
    color: #0af;
    border-color: #0af
}

.catalog-element__tags_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px
}

.catalog-element__tags_item {
    border-radius: 8px
}

.catalog-element__tags_item:hover {
    background: #FFE159;
    background: var(--clr-accent-hover);
    color: #232C42;
    color: var(--clr-base)
}

.catalog-element__characters {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.catalog-element__files_list {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.catalog-element__files_item {
    padding: 8px 8px 8px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
    background: #252833;
    border: 1px solid #8C8D90;
    border: 1px solid var(--clr-grey)
}

.catalog-element__analogs_list {
    padding-top: 2rem
}

.catalog-element__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: clamp(16px, 0.2547770701vw + 15.1082802548px, 20px)
}

.catalog-element__price .price {
    font-size: clamp(20px, 0.7643312102vw + 17.3248407643px, 32px);
    font-weight: 600;
    line-height: 1.1;
    color: #232C42;
    color: var(--clr-base)
}

.catalog-element__price .share-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #232C42;
    color: var(--clr-base);
    transition: .5s;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.3
}

.catalog-element__price .share-btn .icon {
    display: flex;
    color: #464F64;
    color: var(--clr-blue);
    transition: .5s
}

.catalog-element__price .share-btn:hover {
    color: #00AAFF;
    color: var(--clr-blue-light)
}

.catalog-element__price .share-btn:hover .icon {
    color: #00AAFF;
    color: var(--clr-blue-light)
}

.catalog-element__control {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(16px, 0.2547770701vw + 15.1082802548px, 20px);
    gap: 12px
}

.catalog-element__control .counter {
    margin-top: auto;
    flex-grow: 0
}

.catalog-element__control .counter_value {
    flex-grow: 0
}

.catalog-element__control .counter .btn:not(.counter_value) {
    background: #ffffff;
    background: var(--clr-white)
}

.catalog-element__control_buttons {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.catalog-element__control_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    color: #8C8D90;
    color: var(--clr-grey);
    font-weight: 500
}

.catalog-element__notice {
    display: flex;
    gap: clamp(12px, 0.5095541401vw + 10.2165605096px, 20px);
    margin-top: clamp(16px, 0.2547770701vw + 15.1082802548px, 20px);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    color: #8C8D90;
    color: var(--clr-grey)
}

.catalog-element__notice .notice_checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: #d7d8d9;
    background: var(--clr-white-400);
    border: 8px solid #f5f6f7;
    border: 8px solid var(--clr-white-100)
}

.catalog-element__tabs {
    margin-top: clamp(20px, 1.1464968153vw + 15.9872611465px, 38px);
    grid-column: span 2;
    display: grid
}

.catalog-element__tabs_head {
    width: 100%;
    overflow-x: auto
}

.catalog-element__tabs_control {
    display: flex;
    align-items: center;
    gap: clamp(12px, 1.2738853503vw + 7.5414012739px, 32px);
    padding-bottom: 7px
}

.catalog-element__tabs_control .tab {
    font-size: clamp(16px, 0.5095541401vw + 14.2165605096px, 24px);
    font-weight: 600;
    line-height: 1.3;
    color: #8C8D90;
    color: var(--clr-grey);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    text-underline-offset: 4px;
    transition: .3s;
    cursor: pointer;
    white-space: nowrap
}

.catalog-element__tabs_control .tab.active,
.catalog-element__tabs_control .tab:hover {
    color: #232C42;
    color: var(--clr-base);
    text-decoration-color: #232C42;
    text-decoration-color: var(--clr-base)
}

.catalog-element__tabs_list {
    padding-top: clamp(12px, 0.7643312102vw + 9.3248407643px, 24px)
}

.catalog-element__tabs_item {
    display: none
}

.catalog-element__tabs_item.active {
    display: block
}

.catalog-element__tabs_item_content {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 500;
    color: #393b43
}

.add-to-cart {
    display: flex;
    gap: 12px
}

.add-to-cart__dropdown {
    display: flex;
    border-radius: 16px;
    height: 100%;
    position: relative;
    border: 1px solid #393b43
}

.add-to-cart__dropdown_title {
    font-family: "Inter Tight", sans-serif;
    font-family: var(--font-accent);
    font-weight: 600;
    line-height: 1.4;
    padding: 17px 24px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 28px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    cursor: pointer
}

.add-to-cart__dropdown_title::after {
    display: none
}

.add-to-cart__dropdown_title .arrow {
    display: inline-block;
    transform: perspective(150px);
    transition: all .3s
}

.add-to-cart__dropdown.active .add-to-cart__dropdown_title .arrow {
    transform: perspective(150px) rotateX(180deg)
}

.add-to-cart__dropdown.active .add-to-cart__dropdown_list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

.add-to-cart__dropdown_list {
    position: absolute;
    z-index: 1;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background: #ffffff;
    background: var(--clr-white);
    border-radius: 20px;
    top: calc(100% + 10px);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all .3s;
    border: 1px solid #393b43;
    overflow: hidden
}

.add-to-cart__dropdown_item {
    padding: 8px 24px;
    background: #ffffff;
    background: var(--clr-white);
    cursor: pointer;
    transition: .3s
}

.add-to-cart__dropdown_item:hover {
    background: #f5f6f7;
    background: var(--clr-white-100);
    color: #FFE159;
    color: var(--clr-accent-hover)
}

.markets {
    display: flex;
    gap: 12px
}

@media screen and (max-width: 1440px) {
    .catalog-element__row {
        grid-template-columns: 7fr 4fr;
        gap: 24px
    }

    .catalog-element__card {
        grid-template-columns: 1fr
    }

    .catalog-element__tabs {
        grid-column: span 1
    }

    .catalog-element__tabs_control {
        gap: clamp(12px, 0.5095541401vw + 10.2165605096px, 20px)
    }

    .catalog-element__tabs_control .tab {
        font-size: clamp(16px, 0.2547770701vw + 15.1082802548px, 20px)
    }

    .catalog-element__volume_control {
        flex-direction: column;
        align-items: flex-start
    }

    .add-to-cart {
        width: 100%
    }

    .add-to-cart .btn {
        flex-grow: 1
    }
}

@media screen and (max-width: 1200px) {
    .catalog-element__row {
        grid-template-columns: repeat(1, 1fr)
    }

    .catalog-element__col {
        position: static
    }

    .catalog-element__col:first-child {
        flex-direction: row
    }

    .catalog-element__picture {
        flex: 1 0 40%
    }

    .catalog-element__volume {
        flex: 1 0 40%
    }
}

@media screen and (max-width: 991px) {
    .catalog-element__row {
        gap: 24px
    }

    .catalog-element__col_item {
        padding: 24px
    }

    .catalog-element__picture_slider {
        height: 350px
    }

    .catalog-element__picture img {
        height: 350px
    }

    .catalog-element__volume_item {
        gap: 12px
    }

    .catalog-element__volume_item_img {
        width: 100px;
        border-radius: 12px;
        padding: .875rem
    }

    .catalog-element__volume_control {
        gap: 20px
    }

    .catalog-element__characters {
        gap: 10px
    }

    .add-to-cart__dropdown {
        border-radius: 12px
    }

    .add-to-cart__dropdown_title {
        gap: 24px;
        padding: 14px 20px
    }

    .add-to-cart__dropdown_list {
        border-radius: 12px
    }

    .add-to-cart__dropdown_item {
        padding: 8px 20px
    }
}

@media screen and (max-width: 768px) {
    .catalog-element__col:first-child {
        flex-direction: column
    }

    .catalog-element__picture {
        width: 100%
    }

    .catalog-element__picture_slider {
        height: auto
    }

    .catalog-element__picture_sticks {
        left: 20px
    }

    .catalog-element__picture img {
        height: 300px
    }

    .catalog-element__tabs_head {
        padding-bottom: 10px
    }
}

@media screen and (max-width: 576px) {
    .catalog-element__row {
        gap: 16px
    }

    .catalog-element__picture img {
        height: 250px
    }

    .catalog-element__picture_sticks {
        left: 16px;
        gap: 12px
    }

    .catalog-element__picture_sticks .stock {
        padding: 6px 14px 4px 30px
    }

    .catalog-element__col_item {
        padding: 20px 16px
    }

    .catalog-element__characters {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start
    }

    .catalog-element__characters .btn {
        padding: 16px 20px;
        border-radius: 8px;
        width: 100%
    }

    .catalog-element__files_list {
        padding-top: 24px
    }

    .catalog-element__files_item {
        padding: 12px;
        border-radius: 12px;
        flex-direction: column;
        align-items: flex-start
    }

    .catalog-element__files_item .btn {
        padding: 16px 20px;
        border-radius: 8px;
        width: 100%
    }

    .add-to-cart .btn {
        padding: 16px 20px
    }
}

@media screen and (max-width: 420px) {
    .catalog-element__control {
        flex-direction: column
    }

    .catalog-element__control .counter {
        margin-left: auto
    }

    .catalog-element__control_buttons {
        width: 100%
    }

    .catalog-element__control_buttons .btn {
        width: 100%
    }

    .add-to-cart .btn {
        padding: 16px
    }

    .add-to-cart__dropdown_title {
        padding: 14px 16px
    }

    .add-to-cart__dropdown_item {
        padding: 8px 16px
    }
}